[submodule "librfxcodec"]
	path = librfxcodec
	url = https://github.com/webtops-git/librfxcodec.git
	branch = .
	ignore = untracked

[submodule "libpainter"]
	path = libpainter
	url = https://github.com/webtops-git/libpainter.git
	branch = .
	ignore = untracked
[submodule "ulalaca"]
	path = ulalaca
	url = https://github.com/webtops-git/ulalaca-xrdp.git
